//Media Query Breakpoints (Used in ./mixins)

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;


// Primary Colors
$primary-dark: #181A1D;
$primary-light: #FFF;
$primary-neutral: #E7F545;

//Secondary Colors
$secondary-dark: #E9E9E9;
