@use '../../Partials/mixins' as *;
@use '../../Partials/variables' as *;

.homepage{
    &__info{
        padding: 3rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        background-color: $primary-neutral;
        height: 100vh;

        & p{
            color: $para-light;
            font-weight: 600;
        }

        &__text{

            &-title{
                text-align: center;
                margin-bottom: .5rem;
            }
        }
    }
}