@use "./Partials/fonts";
@use './Partials/variables' as *;
@use './Partials/mixins' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin: 0;
}

button {
  &:hover {
    cursor: pointer;
  }
  &:active{
    transform: scale(.8);
  }
}
